.deleteRow{
    background: rgb(255, 221, 221);
}
.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }

  .link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    color: '#0000008a'
}

//   .ant-btn-primary {
//     color: #fff;
//     background-color: #00C6B7;
//     border-color:  #00C6B7;
//     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
//     box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
// }

// .ant-switch-checked {
//     background-color: #00c6b7;
// }