.deleteRow{
    background: rgb(255, 221, 221);
}
.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }

  .text-muted {
    color: #000000 !important;
}


.tipo-link {
  cursor: pointer;
}